---
import PortableTextImage from "./UI/PortableTextImage.astro";

import type { SiteQueryResult } from "../../sanity/schemas/types";
type NonNullSiteQueryResult = NonNullable<SiteQueryResult>;

import InternalLink from "./UI/InternalLink.astro";
import ExternalLink from "./UI/ExternalLink.astro";

interface Props {
  logo?: NonNullSiteQueryResult["logo"];
  headerMenu?: NonNullSiteQueryResult["headerMenu"];
}

const { logo, headerMenu } = Astro.props;
---

<footer>
  <nav>
    <a href="/">
      <PortableTextImage
        asset={logo?.image?.default?.asset || {}}
        alt={logo?.name}
        class="logo"
      />
    </a>
    <ul>
      {
        headerMenu?.items?.map((item) =>
          item._type === "link" ? (
            <li>{"internal" in item && <InternalLink link={item} />}</li>
          ) : (
            <li>
              {item.link && "internal" in item.link && (
                <InternalLink link={item.link} />
              )}
              {item.link && "external" in item.link && (
                <ExternalLink link={item.link} />
              )}
              {item.links && (
                <ul>
                  {item.links.map((subitem) => (
                    <li>
                      {"internal" in subitem && <InternalLink link={subitem} />}
                      {"external" in subitem && <ExternalLink link={subitem} />}
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ),
        )
      }
    </ul>
  </nav>
</footer>
